<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo" [routerLink]= "['/home']">NAS Ring</span>
      </button>
      <div *ngIf="!deviceXs" fxLayout="row">
        <button mat-button *ngIf='_auth.isAdmin()' [routerLink]= "['/home/request']" >Memberships</button>
        <button mat-button [routerLink]= "['/home/about']">About us</button>
        <button mat-button [routerLink]= "['/events']">Events</button>
      </div>
    </div>
    <div>
      <button mat-icon-button *ngIf="deviceXs" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-button *ngIf="!deviceXs" fxLayoutAlign="end" [matMenuTriggerFor]="menu">Menu</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button *ngIf='_auth.isAdmin()' [routerLink]= "['/home/request']" >Memberships</button>
        <button mat-button [routerLink]= "['/home/about']">About us</button>
        <button mat-button [routerLink]= "['/events']">Events</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu" fxLayoutAlign="end">
  <button mat-menu-item [routerLink] = "['/home/phone']">phone Directory</button>
  <button mat-menu-item (click)= "logoutUser()">LogOut</button>
</mat-menu>

