

<footer>

  <mat-grid-list cols="2" rowHeight="20rem">
    <mat-grid-tile>
      <div id='contact'>
        <h2>Nas Ring</h2><br>
        <p>
          <mat-icon>place</mat-icon> ABC Street <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thazhe Chovva <br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kannur, Kerala.
        </p>
        <p><mat-icon>phone</mat-icon> +91 9876543210</p>
        <p><mat-icon>mail</mat-icon> admin@admin.com</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field><br><br>

    </mat-grid-tile>
  </mat-grid-list>



    <p class="foot">© 2020 Shighinas KK</p>
</footer>
