<div class="content">
  <div class="para">
  A collective voice is powerful voice. Being united with other people who share your living environment will give you
  an opportunity to influence and shape the quality of the services in your local community and improve resident's
  quality of life. This is what exactly the purpose of a Resident's Association(RA). But due to the lack of frequent
  communication between the executive committee and all other residents the transparency and the effectiveness of RA is going down.
  Through this application we wanted to provide you a platform where you all can collaborate for making your locality more better.
</div>
</div>
