<div fxLayoutAlign="space-around center" class="container">
  <mat-card fxLayout="row">
    <div fxHide.lt-md>
      <img src="assets/Login.jpg" alt="">
    </div>
    <div class="sec" fxLayoutAlign="space-around center">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle><button mat-button color='warn'[routerLink]='["/register"]'>Not a member? Register Here</button></mat-card-subtitle>
          <mat-card-title>Already a member?</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="loginData" (ngSubmit)="login()">
            <mat-form-field appearance="outline">
              <mat-label>Username (email)</mat-label>
              <input matInput formControlName= "email" autocomplete="off" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input formControlName="Password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="accent" [disabled]='loginData.invalid'>Log In</button>
          </form>
        </mat-card-content>

      </mat-card>
    </div>
  </mat-card>
</div>

