<div class="logo">
  <img src="assets/Logo.png" class="logoImage" alt="logo">
</div>
<div class="belowLogo" fxLayoutAlign="space-around center">
  <button mat-stroked-button [routerLink] = "['/register']">Register</button>
  <button mat-stroked-button [routerLink] = "['/login']"> Log In</button>
  <a href="#footer"><button mat-stroked-button> Contact</button></a>
</div>
<div class="feature" id="pricing">
  <div class="welcome">
    Start connecting with your neighbours and feel the power of neighbourhood.

  </div>

</div>
